/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

header p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
}

nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Main Content */
main {
    padding: 2rem;
    line-height: 1.6;
}

section {
    margin-bottom: 3rem;
    text-align: center;
}

section h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

section p {
    margin: 0 auto;
    max-width: 600px;
    text-align: justify;
}

section img {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top of page button */
.top-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.top-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}
